<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="admin.css">
    <title>Document</title>
</head>
<body>
   <div id="container">
    <div id="menu">

        <ul>
           
            <li><a href="/sair">LOGOUT</a></li>
            <li><a href="/usuarios">CADASTRO DE USUARIOS</a></li>
            <li><a href="#">LISTAR USUÁRIOS</a></li>
            <li><a href="#">HOME</a></li>
        </ul>
    </div>
    <div id="conteudo">
	<form action="/atualizar" method="post">
        <label>Nome:</label>
        <input type="text" name="nome"  id="nome" value="<%= dados.nome %>">
        <input type="hidden" name ="id" id="id" value="<%= dados.id %>">
        <br><br>
        <label>Usuário:</label>
        <input type="text" name="usuario"  id="usuario" value="<%= dados.usuario %>">
        <br><br>
        <label>Senha:</label>
        <input type="text" name="senha"  id="senha" value="<%= dados.senha %>">
        <br><br>
        <label>Tipo:</label>
        <input type="text" name="tipo"  id="tipo" value="<%= dados.tipo %>">
        <br><br>
        <label>Status:</label>
        <input type="text" name="status"  id="status" value="<%= dados.status %>">
        <br><br>
        <input type="submit" value="Atualizar">
    </form>

	</div>
   </div>
    
</body>
</html>